/////////////////////////////////////////////////////////////////////////////

#include <windows.h>

#define _QUOTE(x) #x
#define QUOTE(x) _QUOTE(x)

#define MAJOR 1
#define MINOR 0
#define BUILD 0

#define COMPANY "MyCompany Limited"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION            MAJOR,MINOR,BUILD,0
 PRODUCTVERSION         MAJOR,MINOR,BUILD,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904e4"
        BEGIN
            VALUE "Comments",         "This DLL must be adapted to concrete system requirements"
            VALUE "CompanyName",      "\0"
            VALUE "FileDescription",  ".NET wrapper for 'Seed & Key' DLL using extended algorithm with option"
            VALUE "FileVersion",      QUOTE(MAJOR) "." QUOTE(MINOR) "." QUOTE(BUILD)
            VALUE "InternalName",     QUOTE(TARGET)
            VALUE "LegalCopyright",   "© Copyright 2022 " COMPANY
            VALUE "LegalTrademarks",  "\0"
            VALUE "OriginalFilename", QUOTE(FILENAME)
            VALUE "PrivateBuild",     "\0"
            VALUE "ProductName",      ".NET"
            VALUE "ProductVersion",   QUOTE(FRAMEWORK)
            VALUE "SpecialBuild",     "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1252
    END
END

/////////////////////////////////////////////////////////////////////////////
